.category-list {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.product-card {
    border: none;
    text-align: center;
}

    .product-card img {
        width: 100%;
        height: 100px;
        text-align: center;
        object-fit: contain;
    }

.btn-buy {
    background-color: #0c6e36;
    color: white;
}

    .btn-buy:hover {
        background-color: #0a5b2d;
    }
