
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    grid-template-columns: 2fr 10fr;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006F3C;
    color: white;
    padding: 20px;
}

    .nav-container .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

        .nav-container .logo img {
            height: 100px;
        }

.nav-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
}

    .nav-links a {
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 5px 0;
        border-radius: 5px;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        transition: background-color 0.3s ease;
    }

        .nav-links a:hover {
            background-color: #005f00;
        }

.dropdown-menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

    .dropdown-menu a {
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        margin: 5px 0;
        border-radius: 5px;
    }

        .dropdown-menu a:hover {
            background-color: #004d00;
        }

.content {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    color: black;
    height: 100vh;
    overflow: hidden;
}

    .content .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #000000;
        height: 10%;
        width: 100%;
    }

    .content .left-section {
        flex: 0 0 10%;
    }

    .content .center-section {
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content .right-section {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content .search-bar {
        display: flex;
        align-items: center;
        background-color: #666363;
        border-radius: 25px;
        padding: 5px 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
    }

        .content .search-bar input {
            flex-grow: 1;
            border: none;
            outline: none;
            padding: 10px;
            font-size: 16px;
            background-color: #666363;
            color: white;
        }

            .content .search-bar input::placeholder {
                color: white;
            }

        .content .search-bar button {
            background: none;
            border: none;
            cursor: pointer;
            color: white;
            padding: 5px;
            font-size: 18px;
        }

    .content .user-info {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

        .content .user-info img {
            height: 40px;
            border-radius: 50%;
            margin-left: 10px;
        }

        .content .user-info i {
            margin-left: 5px;
            color: white;
        }

.user-dropdown-menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-left: 10px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #006F3C;
    width: 200px;
    z-index: 10;
}

    .user-dropdown-menu a {
        text-decoration: none;
        color: white;
        border-radius: 5px;
        text-align: center;
        margin-top: -7px;
    }

        .user-dropdown-menu a:hover {
            background-color: #004d00;
        }

.content .body-section {
    padding: 20px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 9px;
    text-align: center;
}

th {
    background-color: #000000;
    color: white;
}

td {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.product-icon {
    font-size: 106px;
}

.btn-add {
    margin-left: 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: left;
    margin-bottom: 10px;
}

    .btn-add:hover {
        background-color: #45a049;
    }

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.logout-icon {
    margin-left: 10px;
}

.btn-edit {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-details {
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

