
.carousel-inner img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; 
    margin: 0;
    padding: 0;
    border: none;
}

.carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background-color: gray; 
    margin: 5px;
    border: none; 
}

    .carousel-indicators button.active {
        background-color: white; 
    }

.carousel {
    margin: 0;
    padding: 0;
}

.carousel-indicators {
    margin-bottom: 0; 
}

.shadow-hr {
    border: none;
    height: 3px;
    background-color: #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.product-card {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    position: relative;
}

    .product-card .btn-buy {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 10px 15px; 
        border-radius: 5px;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .product-card .btn-buy:hover {
            background-color: #218838;
        }

        .product-card .btn-buy .cart-icon {
            margin-right: 10px; 
        }

    .product-card .heart-icon {
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 2rem;
        color: rgb(236, 239, 241);
        cursor: pointer;
    }

        .product-card .heart-icon:hover {
            color: #218838;
        }

        .product-card .heart-icon i {
            font-size: 2rem;
            color: #28a745; 
            cursor: pointer;
            transition: color 0.3s ease; 
        }

.product-price {
    color: #dc3545;
    font-size: 1.25rem;
    font-weight: bold;
}

.product-title {
    background-color: #dc3545; 
    color: white; 
    padding: 5px 0; 
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
    text-align: center;
    font-size: 0.9rem; 
    margin-top: 15px;
    margin-bottom: 10px;
}

.product-card img {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-success {
    width: 100%; 
    padding: 10px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn-success .cart-icon {
        margin-right: 10px; 
    }
.custom-button {
    border: 2px solid #28a745; 
    color: #28a745; 
    padding: 10px 20px; 
    font-size: 1rem;
    font-weight: bold; 
    border-radius: 8px; 
    background-color: transparent; 
    transition: all 0.3s ease;
}

    .custom-button:hover {
        background-color: #28a745; 
        color: #fff; 
    }

    .custom-button span {
        font-weight: normal; 
    }

    .custom-button i {
        margin-left: 5px; 
        font-size: 0.8rem; 
    }

.map-container {
    height: 100%;
    min-height: 500px;
}

.location-img {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #28a745; 
}
